#toast 
{
    visibility: hidden; /* Hidden by default. Visible when animating*/

    min-width: 250px; /* Set a default minimum width */
    max-width: 250px; /* Set a default maximum width*/
    margin-left: -138px; /* Divide value of min-width by 2 */

    background-color: #fff; /* Light background colour */
    color: #333; /* Dark text colour */

    text-align: center; /* Centered text */
    font-size: 14px;

    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */

    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index to be above other elements */

    left: 50%; /* Center the toast */
    bottom: 30px; /* 30px from the bottom */

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    transform: translateY(150%); /* Default resting position */

    animation: slide-in 4s ease 0.5s 2 alternate; /* Slide in slowly */
}


@-moz-keyframes slide-in 
{
    to 
    { 
        -moz-transform: translateY(0); 
        visibility: visible;
    }
}
@-webkit-keyframes slide-in 
{
    to 
    { 
        -webkit-transform: translateY(0);
        visibility: visible; 
    }
}

@keyframes slide-in 
{
    to 
    {
        transform:translateY(0);
        visibility: visible;
    }
}
